<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">LABORATORIO IV - PP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/alta-producto" *ngIf="this.user$">Alta Producto</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" routerLink="/listado-producto" *ngIf="this.user$">Listado Producto</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/container" *ngIf="this.user$ && this.isAdmin">Container</a>
          </li> 
        </ul>
        <a class="btn btn-outline-warning" routerLink="login" *ngIf="!this.user$">LOGIN</a>
        <a
          style="margin-left: 10px"
          class="btn btn-outline-danger"
          (click)="cerrarSesion()"
          *ngIf="this.user$"
          >LOGOUT</a
        >
      </div>
    </div>
  </nav>
  